extends layout

append head
  script(src='/jquery.form/jquery.form.js')
  script(src='/node-uuid/uuid.js')
  script(src='/javascripts/events.js')
  script(src='/javascripts/main.js')

block content
  audio#player(style='display: hidden;', loop)
  canvas#mainCanvas
  .ui-widget-content#draggable
    .row
      .btn-group(role='group')
        button.btn.btn-default(type='button', onclick='setDrawingMode(true)')
          span.fa.fa-pencil
        button.btn.btn-default(type='button', data-toggle='modal', data-target='#fontModal')
          span.fa.fa-font
        button.btn.btn-default(type='button', data-toggle='modal', data-target='#spriteModal')
          span.fa.fa-file-image-o
    .row
      .btn-group(role='group')
        button.btn.btn-default(type='button', onclick='setDrawingMode(false)')
          span.fa.fa-arrows
        button#clear.btn.btn-default(type='button')
          span.fa.fa-trash
        button.btn.btn-default(type='button', data-toggle='modal', data-target='#musicModal')
          span.fa.fa-music
    .row
      input#drawColor(type='color', value='#000000')
  #spriteModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Sprite Manager
        .modal-body
          .row
            form#uploadForm.form-inline(enctype='multipart/form-data', action='/uploadImage', method='post')
              .form-group
                input.btn.btn-default(type='file', name='image')
              input.btn.btn-primary(type='submit', value='Upload Image', name='submit')
            #message
          .row
            button.btn.btn-default(type='button', style='width: 100%', onclick="socket.emit('ls')") Refresh
          .row
            table.table.table-hover
              thead
                tr
                  th Preview
                  th Name
                  th Select
              tbody#images
          .row
            .checkbox
              label
                input#background(type='checkbox')
                |  Set as background
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button', onclick='insertSprite()') Insert Sprite
  #musicModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Music Manager
        .modal-body
          .row
            label(for='videoId') Youtube URL
              .input-group
                span#vanityURL.input-group-addon https://www.youtube.com/watch?v=
                input#videoId.form-control(type='text', aria-describedby='vanityURL')
                span.input-group-btn
                  button#addBtn.btn.btn-default(type='button')
                    span.fa.fa-plus
          .row
            table.table.table-hover
              thead
                tr
                  th Preview
                  th Title
                  th Reorder
                  th Delete
              tbody#music
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button', data-dismiss='modal', onclick='streamYoutube(true)') Play
