doctype html
html
  head
    block head
      title=title
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
      link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
      link(rel='stylesheet', href='/jquery.ui/themes/smoothness/jquery-ui.css')
      script(src='/socket.io/socket.io.js')
      script(src='/fabric/fabric.js')
      script(src='/jquery/jquery.js')
      script(src='/jquery.ui/jquery-ui.js')
      script(src='/bootstrap/js/bootstrap.js')
  body
    block content
