html, body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

#draggable {
  position: absolute;
  left: 100px;
  top: 100px;
  min-width: 1%;
  height: 150px;
  padding: 0.5em;
}

.row {
  margin-bottom: 5px;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.preview {
  width: 64px;
}
